@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

* {
    box-sizing: border-box;
}
h1, h3, p, body {
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    margin: 0;
    cursor: default;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    padding-left: 0;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    color: #111b35;
}
h2 {
    font-size: 17px;
    font-weight: 700;
    color: #111b35;
    margin: 8px 0;
}
h3 {
    font-size: 14px;
    font-weight: 700;
    color: #35446a;
    margin: 8px 0;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: #202d2d;
    margin: 4px 0;
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    /*background-color: #181818;*/
    align-items: center;
    color: white;
    padding: 16px;
}
.navbar__menu {
    display: flex;
}
.navbar__logo {
    font-size: 28px;
    font-weight: bold;
}
.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}
.navbar__menu__item.active {
    border: 1px solid white;
    border-radius: 4px;
}
.navbar__menu__item:hover {
    background-color: #2e79eb;
}
.navbar__toggle-btn {
    position: absolute;
    top: 26px;
    right: 32px;
    font-size: 30px;
    color: white;
    background-color: rgba( 255, 255, 255, 0 );
    border: none;
    display: none;
}

/* Home */
#home {
    /*height: 450px;*/
    background: url("/image/home-background.png") center/cover no-repeat;
    /*background-color: #181818;*/
    /*background: linear-gradient(to bottom, #181818, #231910);*/
    padding: 10px 40px 40px 40px;
    text-align: center;
}
.home__avatar {
    width: 250px;
    height: 250px;
    /*border: 1px solid #634f45;*/
    border-radius: 50%;
}
.home__tile,
.home__description {
    color: white;
}

/* Section common */
.section {
    padding: 50px;
    margin: auto;
    text-align: center;
}
.section__container {
    max-width: 1200px;
    margin: auto;
}


/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    color: #2e79eb;
    font-size: 70px;
    padding-bottom: 16px;
    margin: auto;
    border: 4px solid #f0f0f0;
    border-radius: 50%;
}
.major__icon i {
    transition: all 300ms ease;
}
.major__icon i:hover {
    color: #189074;
    transform: rotate(-30deg) scale(1.0);
}
.major__description {
    color: #7f8eb5;
    font-size: 14px;
}
.job {
    display: flex;
    align-items: center;
}
.job img {
    width: 13%;
}
.jop__description {
    margin: 0 25px;
    text-align: left;
}
.job__name, .job__period {
    color: #8b8b8b;
}
.job__name {
    font-size: 15px;
    font-weight: 400;
}

/* Skill */
#skills {
    background-color: #f7f7f7;
}
.skill_set {
    display: flex;
    background-color: #1f99c0;
    color: white;
    margin: 20px 0;
}
.skill_set__title {
    color: white;
}
.skill_set__left {
    flex-basis: 60%;
    background-color: #189074;
    padding: 20px 40px;
}
.skill_set__right {
    flex-basis: 40%;
}
.skill {
    margin-bottom: 32px;
}
.skill__description {
    display: flex;
    justify-content: space-between;
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: #14A65A;
}
.skill__value {
    height: 3px;
    background-color: #25DBB1;
}
.tools {
    background-color: #2371c3;
}
.tools, .etc {
    padding: 30px;
}
/* Work */
.work_categories {
    margin: 40px;
}
.category__btn {
    border: 4px solid #f0f0f0;
    font-size: 14px;
    padding: 8px 48px;
    background-color: white;
}
.category__btn:active,
.category__btn:focus,
.category__btn:hover {
    border: 4px solid #2371c3;
    background-color: #2371c3;
    color: white;
}
.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 280px;
    height: 250px;
    position: relative;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.project__img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}
.project__description {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease;
}
.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}
.project__description h3 {
    color: white;
}

/* Contact */
#contact {
    background-color: #364B6B;
}
.contact__title,
.contact__email,
.contact__links,
.contact__rights {
    color: white;
}
.contact__title {
    margin: 32px 0;
}
.contact__links {
    font-size: xx-large;
    margin: 24px 0;
    transition: all 300ms ease;
}
.contact__links i:hover {
    transform: scale(1.1);
    color: #14A65A;
}
@media  screen and (max-width: 768px){
    .navbar__toggle-btn {
        display: block;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__menu {
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: none;
    }
    .about__majors {
        flex-direction: column;
    }
    .major {
        margin-bottom: 38px;
    }
    .skill_set {
        flex-direction: column;
    }
    .project {
        flex-grow: 1;
    }
}
